<%- include("../partials/header") %>
    <div class="container row">
        <a href="/teamtodo" class="btn btn-primary">Team Todo List</a>
        <div class="col-md-6">
            <table class="table table-bordered">
                <h4>Active List</h4>
                <thead>
                    <tr>
                        <th>Task Name</th>
                        <th>Completion status</th>
                        <th>Expiry on</th>
                    </tr>
                </thead>
                <tbody>
                    <%todo.forEach(function(x){%>
                        <tr>
                            <td>
                                <%=x.task_name%>
                                    <form id="delete" action="/todo/<%=x._id%>?_method=DELETE" method="post">
                                        <button class="btn btn-danger btn-xs">DELETE</button>
                                    </form>
                            </td>
                            <td>
                                <%=x.completion%>
                            </td>
                            <td>
                                <%=x.expiry%>
                                    <a href="/todo/<%=x._id%>/edit" class="btn btn-xs btn-primary">Edit</a>
                            </td>
                        </tr>
                </tbody>
                <%})%>
            </table>
            <a href="/todo/add" class="btn btn-primary">Add</a>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered">
                <h4>Expried Tasks</h4>
                <thead>
                    <tr>
                        <th>Task Name</th>
                        <th>Completion status</th>
                        <th>Expiry on</th>
                    </tr>
                </thead>
                <tbody>
                    <%todoexpried.forEach(function(x){%>
                        <tr>
                            <td>
                                <%=x.task_name%>
                                    <form id="delete" action="/todo/<%=x._id%>?_method=DELETE" method="post">
                                        <button class="btn btn-danger btn-xs">DELETE</button>
                                    </form>
                            </td>
                            <td>
                                <%=x.completion%>
                            </td>
                            <td>
                                <%=x.expiry%>
                                    <a href="/todo/<%=x._id%>/edit" class="btn btn-xs btn-primary">Edit</a>
                            </td>
                        </tr>

                </tbody>
                <%})%>
            </table>
        </div>
        <%- include("../partials/footer") %>