<%- include("../partials/header") %>
    <link rel="stylesheet" href="/css/add.css" type="text/css">

    <h2 id="name">TEAM TODO</h2>
    <div class="container row">
        <div class="add col-md-8">
            <div>
                <h3>Edit Team Task</h3>
            </div>
            <form action="/teamtodo/<%=todo._id%>?_method=PUT" method="POST" id="myform">
                <div class=" form-group ">
                    <label for="Name ">Task Name</label>
                    <input type="text" class="form-control " required id="name " name="task_name" value="<%=todo.task_name%>">
                </div>

                <div class=" form-group ">
                    <label for="Name ">Expiry Date</label>
                    <input type="date" class="form-control " required id="name " name="expiry" value="<%=date%>">
                </div>

                <div class="radio">
                    <label><input type="radio" name="completion" value="pending" checked>Pending</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="completion" value="completed">Completed</label>
                </div>

                <div class=" form-group ">
                    <label for="Name ">Expiry Time</label>
                    <input type="time" class="form-control " required id="name " name="time" value="<%=todo.expiry.getHours()%>:<%=todo.expiry.getMinutes()%>">
                </div>
                <div>
                    <button type="submit" id="submit" class="btn btn-primary ">Update</button>
                </div>
                <p id="required"></p>
            </form>
        </div>
    </div>

    <%- include("../partials/footer") %>